@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.about-us{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: $color-contact;

    &-left{
    width: 41%;
    text-align: center;
    background-color: $color-contact;

        &-h3{
            font-family: $font-base;
            font-size: 38px;
            color: $color-primary;
            margin-bottom: 40px;
            margin-top: 50px;

        }
        &-p{
            font-family: $font-base;
            font-size: 30px;
            color: $color-primary;
            margin-top: 60px;
            letter-spacing: -0.6px;
            line-height: 1.6;
        }
    }
    &-signature{
        display: flex;
        justify-content: flex-end;
        margin-top: 40px;
    }
    &-right{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        &-img{
            width: 80%;
        }
    }
}