@import '../../scss/elements/colors';
@import '../../scss/settings/fonts';

.registration-top{
        width: 80%;
        display: flex;
        justify-content: flex-end;
        // margin-right: 30px;
        margin-top: 37px;
        &-first{  
            font-family: $font-base;
            color: $color-seconday;
            font-size: 18px;
            text-decoration: none;   
            margin-left: 30px;    
            padding: 9px 10px;
        }
        &-first1{
            font-family: $font-base;
            color: $color-seconday;
            font-size: 18px;
            text-decoration: none;   
            margin-left: 30px; 
            border: 0.75px solid #FAD648;
            padding: 9px 10px;
        }
    }
