@import '../settings/colors';
@import '../settings/fonts';
.home{
    width: 100%;
    display: flex;  
    max-width: margin 0;
        &-img{
            width: 50%;
            &-img{
                width: 85%;
            }
        }
        &-right{
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }