@import '../settings/colors';
@import '../settings/fonts';

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    &-title{
        text-align: center;
        &-h2{
            font-family: $font-base;
            font-size: 38px;
            color: $color-primary;
            margin-bottom: 40px;
        }
        &-img{
            margin-bottom: 90px;
        }
    }
  }
  .bloc-tabs {
    display: flex;
    justify-content: center;
  }
  .tabs {
    padding: 6px 42px;
    text-align: center;
    cursor: pointer;
    box-sizing: content-box;
    background-color: white;
    font-family: $font-base;
    font-size: 24px;
    color: $color-primary;
    margin-bottom: 80px;
  }
  .tabs:not(:last-child){
      margin-right: 70px;
  }
  .active-tabs  {
    border: 0.75px solid $color-primary;
  }
  .active-tabs::before {
    content: "";
    display: block;
  } 
  button {
    border: none;
  }
  .content {
    width: 100%;
    display: none;
    text-align: center;
  }
  .content h3 {
    font-family: $font-base;
    font-size: 22px;
    color: $color-primary;
    margin-bottom: 66px;
  }
  .content hr {
    width: 100%;
    margin-bottom: 20px;
  }
  .active-content {
    display: block;
  }
  .content-tabs-list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-first{
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &-h4{
        font-family: $font-alt;
        font-size: 26px;
        color: $color-primary;
      }
      &-p1{
        margin-left: auto;
        font-family: $font-alt;
        font-size: 18px;
        color: $color-primary;
        margin-top: -14px;
      }
      &-p2{
        font-family: $font-alt;
        font-size: 18px;
        color: $color-primary;
        margin-bottom: 25px;
      }
    }
    &-second{
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &-h4{
        font-family: $font-alt;
        font-size: 26px;
        color: $color-primary;
        margin-top: 15px;
      }
      &-p1{
        margin-left: auto;
        font-family: $font-alt;
        font-size: 18px;
        color: $color-primary;
        margin-top: -14px;
      }
      &-p2{
        font-family: $font-alt;
        font-size: 18px;
        color: $color-primary;
        margin-bottom: 25px;
      }
  }
    &-third{
      width: 75%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      &-h4{
        font-family: $font-alt;
        font-size: 26px;
        color: $color-primary;
        margin-top: 15px;
      }
      &-p1{
        margin-left: auto;
        font-family: $font-alt;
        font-size: 18px;
        color: $color-primary;
        margin-top: -14px;
      }
      &-p2{
        font-family: $font-alt;
        font-size: 18px;
      }
    }
}
.block-numbers {
  display: flex;
  justify-content: center;
}
.numbers{
  padding: 13px 15px;
  text-align: center;
  cursor: pointer;
  box-sizing: content-box;
  background-color: white;
  font-family: $font-base;
  font-size: 18px;
  color: $color-primary;
  margin-bottom: 80px;
  margin-top: 60px;
}
.active-numbers  {
  border: 0.75px solid $color-primary;
}
.active-numbers::before {
  content: "";
  display: block;
} 
button {
  border: none;
}