@import '../settings/colors';
@import '../settings/fonts';

.text{
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title1{
        font-family: $font-base;
        font-size: 38px;
        color: $color-primary;
        margin-bottom: 25px;
    }
    &-decoration{
        margin-bottom: 80px;
    }
}